body,img{ margin:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,header,footer,nav,article{margin:0;padding:0}
html,body{ height:100%}
header,footer,nav,article{ display: block;}
table{border-collapse:collapse;border-spacing:0}
img,video{border:0; max-width:100%; vertical-align:top}
iframe{ vertical-align:top;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body{ font:16px/1.5 Helvetica,Arial,Mingliu,sans-serif; -webkit-user-select:none;}
input,textarea,select,button{ outline: none; resize:none; font:16px/1.5 Helvetica,Arial,sans-serif;}
select{font-size:12px}
button{line-height:1.231;white-space:nowrap;vertical-align:middle;cursor:pointer}
strong{font-weight:800}
a{ text-decoration: none; outline: none; cursor: pointer;}
a:link,label,body{ -webkit-tap-highlight-color:transparent; -webkit-focus-ring-color:transparent;}
a:hover{ text-decoration:none;}
a:active{ background:none;}

.tx_c{ text-align:center;}

.clear:after{ content:'.'; clear:both; display:block; visibility:hidden; font-size:0; line-height:0}
.clear{ zoom:1;}

.owl-dots { position:absolute; left:0; width:100%; bottom:0;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      -webkit-transition: opacity 200ms ease;
      -moz-transition: opacity 200ms ease;
      -ms-transition: opacity 200ms ease;
      -o-transition: opacity 200ms ease;
      transition: opacity 200ms ease;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }
    .owl-dots .owl-dot.active span,.owl-dots .owl-dot:hover span {
      background: #869791; }

@font-face {
    font-family: 'baskerville';
    src: url('./fonts/baskerville-regular-webfont.eot');
    src: url('./fonts/baskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/baskerville-regular-webfont.woff2') format('woff2'),
         url('./fonts/baskerville-regular-webfont.woff') format('woff'),
         url('./fonts/baskerville-regular-webfont.ttf') format('truetype'),
         url('./fonts/baskerville-regular-webfont.svg#baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('./fonts/icomoon.eot?otryov');
	src:url('./fonts/icomoon.eot?otryov#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf?otryov') format('truetype'),
		url('./fonts/icomoon.woff?otryov') format('woff'),
		url('./fonts/icomoon.svg?otryov#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
	content: "\e600";
}
.icon-history:before {
	content: "\e60f";
}
.icon-clock:before {
	content: "\e60b";
}
.icon-lock:before {
	content: "\e606";
}
.icon-unlocked:before {
	content: "\e607";
}
.icon-equalizer:before {
	content: "\e60c";
}
.icon-rocket:before {
	content: "\e610";
}
.icon-bin:before {
	content: "\e601";
}
.icon-warning:before {
	content: "\e608";
}
.icon-question:before {
	content: "\e60d";
}
.icon-plus:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e60a";
}
.icon-play3:before {
	content: "\e603";
}
.icon-pause2:before {
	content: "\e605";
}
.icon-stop2:before {
	content: "\e604";
}
.icon-infinite:before {
	content: "\e609";
}
.icon-arrow-right2:before {
	content: "\e900";
}
.icon-arrow-left2:before {
	content: "\e901";
}
.icon-pilcrow:before {
	content: "\e60e";
}

@media screen and (min-width:768px){
	body{ -webkit-user-select:auto;}
}
